In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import math
from urllib.request import urlretrieve

In [5]:
df=pd.read_csv("Daily_Demand_Forecasting_Orders.csv",delimiter=";",decimal=",")
df.head()

,"Week of the month (first week, second, third, fourth or fifth week",Day of the week (Monday to Friday),Non-urgent order,Urgent order,Order type A,Order type B,Order type C,Fiscal sector orders,Orders from the traffic controller sector,Banking orders (1),Banking orders (2),Banking orders (3),Target (Total orders)
0,1,4,316.307,223.270,61.543,175.586,302.448,0,65556,44914,188411,14793,539.577
1,1,5,128.633,96.042,38.058,56.037,130.580,0,40419,21399,89461,7679,224.675
2,1,6,43.651,84.375,21.826,25.125,82.461,1.386,11992,3452,21305,14947,129.412
3,2,2,171.297,127.667,41.542,113.294,162.284,18.156,49971,33703,69054,18423,317.120
4,2,3,90.532,113.526,37.679,56.618,116.220,6.459,48534,19646,16411,20257,210.517

In [11]:
x_scaler=MinMaxScaler()
x_scaler=x_scaler.fit_transform(df.iloc[:,:-1].values)
y_scaler=MinMaxScaler()
y_scaler=y_scaler.fit_transform(df.iloc[:,-1].values.reshape(-1,1))

In [12]:
seq_length=7
train_size=int(len(x_scaler)*0.8)

In [14]:
x_train_data=x_scaler[:train_size]
x_test_data=x_scaler[train_size-seq_length:]
y_train_data=y_scaler[:train_size]
y_test_data=y_scaler[train_size-seq_length:]

In [15]:
x_train,y_train=[],[]
x_test,y_test=[],[]

In [16]:
for i in range(len(x_train_data)-seq_length):
    x_train.append(x_train_data[i:i+seq_length])
    y_train.append(y_train_data[i+seq_length])

In [ ]:
for i in range(len(x_test_data)-seq_length):
    x_train.append(x_test_data[i:i+seq_length])
    y_train.append(y_test_data[i+seq_length])